<nav class="navbar navbar-light filter-bar">
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link show-all" href="#">Show all</a>
        </li>
        <li class="nav-item">
            <a class="nav-link next-month" href="#">Through next month</a>
        </li>
        <li class="nav-item">
            <a class="nav-link next-year" href="#">Through next year</a>
        </li>
        <li class="nav-item">
            <a class="nav-link past" href="#">Past</a>
        </li>
    </ul>
    <form class="form-inline pull-xs-right">
        <input class="form-control search-destinations" type="text" placeholder="Search destinations">
        <button class="btn btn-outline-success search-destinations-button" type="submit">Search</button>
    </form>
</nav>