{% extends "base.html" %}
{% block title %}Warpscroll: plan your trip through anywhere.{% endblock %}
{% block content %}
    {% with col_style="col-md-8 offset-md-2" %}
        <div class="container-fluid">
            <div class="row header-section">
                <div class="row body-text page-section">
                    <div class="{{ col_style }}">
                        <h2>Warp Scroll</h2>

                        <h4>Plan your trip through anything.</h4>
                    </div>
                </div>
                <div class="row body-text page-section">
                    <div class="{{ col_style }}">
                        {% include "registration_form.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="{{ col_style }}">
                <div id="trip-list" style="{% if user.is_anonymous %}display: none;{% endif %}">
                    {% include 'add_destination.html' %}
                    <a href="" class="btn btn-outline-info btn-sm pull-xs-right print-plan">Print travel plan for next
                        month</a>
                    {% include "trip_list.html" with trips=current_trips title="Current Trips" class="current-trips" %}
                    {% include "trip_list.html" with trips=upcoming_trips title="Upcoming Trips" upcoming=True class="upcoming-trips" %}
                    {% include "trip_list.html" with trips=past_trips title="Past Trips" class="past-trips" %}
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}