{% extends "base.html" %}
{% block title %}Warpscroll: plan your trip through anywhere.{% endblock %}
{% block content %}
    {% with col_style="col-md-8 offset-md-2" %}
        <div class="container-fluid">
            <div class="row header-section">
                <div class="row body-text page-section">
                    <div class="{{ col_style }}">
                        <h2>Warp Scroll</h2>

                        <h4>Plan your trip through anything.</h4>
                    </div>
                </div>
                <div class="row body-text page-section">
                    <div class="{{ col_style }}">
                        {% include "registration_form.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="{{ col_style }}">
                <div id="trip-list">
                    {% if not user.is_anonymous %}
                        {% include 'add_destination.html' %}
                        {% include "trip_list.html" with trips=current_trips title="Current Trips" %}
                        {% include "trip_list.html" with trips=upcoming_trips title="Upcoming Trips" upcoming=True %}
                        {% include "trip_list.html" with trips=past_trips title="Past Trips" %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}