.header-section {
    border-bottom: solid 2px #dfdfdf;
    margin-bottom: 10px;
    padding: 10px 10px 0;
}

.page-section {
    margin-bottom: 4px;
    padding-bottom: 15px;
}

.trip-description {
    display: block;
    width: 100%;
    border: none;
    border-top: dashed 1px #dfdfdf;
    padding-left: 20px;
}

.register {
    margin-top: 10px;
}

.trip-card .card-block {
    padding: 0 1.25rem .25rem 1.25rem;
}

.trip-card .tag {
    vertical-align: text-bottom;
}

.logout-button {
    vertical-align: inherit;
}

.add-dest, .save-dest {
    margin: 0 .25rem;
}

.remove-dest {
}

.edit-start-date, .edit-end-date {
    border: none;
    border-bottom: 1px solid #dfdfdf;
}


